body {
    font-family: Arial, sans-serif;
    background-color: #f8f8ff;
    margin: 0;
    display: flex;
    justify-content: center;
}

#container {
    max-width: 1280px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
}

header {
    background: linear-gradient(rgb(67, 129, 215), rgb(79, 166, 228));
    height: 66px;
    border-radius: 3px;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5); 
}

header h4 {
    font-family: "Times New Roman", serif; 
    font-size: 28px;
    font-weight: bold;
    color: #e6f2ff; 
    text-shadow:
        -1px -1px 0 #000, 
        1px -1px 0 #000, 
        -1px  1px 0 #000, 
        1px  1px 0 #000; 
    letter-spacing: 5px;
    margin-top: 15px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 500px;
    width: 100%;
   
}

nav li {

}

#content {
    display: flex;
}

#side {
    width: 256px;
}

main {
    flex: 1;
    padding: 10px;
}

footer {
    height: 33px;
    line-height: 33px;
}