body {
    font-family: 'Times New Roman', serif;
    background-color: #f8f8ff;
    margin: 0;
    display: flex;
    justify-content: center;
}

#container {
    max-width: 1280px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
}

header {
    background: linear-gradient(rgb(67, 129, 215), rgb(79, 166, 228));
    height: 66px;
    border-radius: 3px;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5); 
}

header h4 {
    font-family: "Times New Roman", serif; 
    font-size: 28px;
    font-weight: bold;
    color: #e6f2ff; 
    text-shadow:
        -1px -1px 0 #000, 
        1px -1px 0 #000, 
        -1px  1px 0 #000, 
        1px  1px 0 #000; 
    letter-spacing: 5px;
    margin-top: 15px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 500px;
    width: 100%;
    margin-top: -10px;
    background-color: rgb(159, 190, 237);
    height: 8px;
    align-items: center;
    list-style: none;
    border-radius: 3px;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.5); 
    
}

nav li {
    cursor: pointer;
    font-size: 17px;

}

nav li:hover {
    color: orange;
}

nav li.active {
    color: orange;
}

#content {
    display: flex;
}

#side {
    position: relative;
    overflow: hidden;
    width: 256px;
    background-color: #f8f8f8;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.news {
    border: 1px solid #d2b48c;
    border-radius: 2px;
    background-color: #fff;
    overflow: hidden;
    transition: box-shadow 0.2s;
    height: auto; 
}

.news-header {
    background-color: rgb(245, 207, 138);
    height: 45px;
    color: rgb(152, 153, 156);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 10px;
    transition: background-color 0.3s;
}


main {
    flex: 1;
    padding: 10px;
}

#footer {
    height: 33px;
    line-height: 33px;
    background-color: rgb(244, 231, 180);
    color: rgb(228, 172, 67);
    text-align: center;
    border: 1px solid orange;
    font-size: 17px;
}

#footer a {
  color: orange;
  text-decoration: underline;
  padding: 4px 8px;
  border-radius: 4px;
  transition: 0.3s;
}

 #footer a.active {
  background-color: orange;
  color: white;
}

#footer a:hover {
  background-color: #ffb84d;
  color: white;
}

